<!DOCTYPE html>
<html>
<head>
	<title>Clearview Solutions | Professional Investors</title>

	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application", "custom"  %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application", "rails" %>

	<!--  REPLACING THE ABOVE javascript_link_tag CONTENT WITH: :defaults MAKES THE DESTROY ACTION WORK - OTHERWISE, ONLY THE CALENDAR POPUP WORKS -->

  <%= csrf_meta_tag %>

</head>
<body>

<% if user_signed_in? %>

	<div id="investor_holder">
		<div id="investor_menu">
			<ul>
				<li>Welcome <%= link_to current_user.first_name, edit_user_registration_path %>!</li>
				<li><%= link_to "Investors", investors_path %></li>
				<li><%= link_to "Events", events_path %></li>
				<li><%= link_to "Tasks", tasks_path %></li>
				<li><%= link_to "Users", users_path %></li>
				<li><%= link_to "Documents", folders_path %></li>
				<li><%= link_to 'Logout', destroy_user_session_path %></li>
			</ul>
		</div>
	</div>

<% else %>

	<div class='logo_container'>
		<div id="logo" style="text-align:center; margin-top: 30px; margin-bottom:30px"><%= link_to image_tag('logo.png', :border => 0), root_path %></a>
			<div id="investor_container">
			</div>	
		</div>
	</div>

<% end %>

<div class="body_container">
	<div id="breadcrumb">
		<%= @breadcrumb %>
	</div>
	<%= alert %>
	<%= notice %>
	<%= yield %>
</div>

</body>
</html>
